<style>
    nav, section {
        display: block;
    }

    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        padding: .75rem 1rem;
        margin-bottom: 1rem;
        list-style: none;
        background-color: #f8f9fa;
        border-radius: .25rem
    }

    .breadcrumb-item {
        display: flex
    }

    .breadcrumb-item+.breadcrumb-item {
        padding-left: .5rem
    }

    .breadcrumb-item+.breadcrumb-item::before {
        display: inline-block;
        padding-right: .5rem;
        color: #6c757d;
        content: "/"
    }

    .breadcrumb-item+.breadcrumb-item:hover::before {
        text-decoration: underline
    }

    .breadcrumb-item+.breadcrumb-item:hover::before {
        text-decoration: none
    }

    .breadcrumb-item.active {
        color: #6c757d
    }

    ol,
    ul,
    dl {
        margin-top: 0;
        margin-bottom: 1rem
    }

    ol ol,
    ul ul,
    ol ul,
    ul ol {
        margin-bottom: 0
    }
</style>

<nav aria-label="breadcrumb">
<div class="breadcrumbs">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="list-/inline breadcrumb">

        {% assign categories = include.path | split:"/" | pop  %}
        {% assign route="" %}

        {% include breadcrumbs_li.html fa="fa-home" url="/" title="Home" position="1" %}
        {% comment %} handle special books collections {% endcomment %}

        <!-- {% assign first_category = categories | first %} -->

        {% comment %}Detect book index{% endcomment %}
        <!-- {% if include.path == "books.md" %}
        {% include breadcrumbs_li.html fa="fa-book" title="Books" position="2" %}
        {% comment %}detect book item{% endcomment %}
        {% elsif first_category == "_books" %}
        {% include breadcrumbs_li.html fa="fa-book" url="/books" title="Books" position="2" %}
        {% include breadcrumbs_li.html title=include.title position="2" %}
        {% else %} -->

        {% for cat in page.categories %}
        <!-- / -->
        <li class="breadcrumb-item " itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">        
            <a href="{{ site.url }}/categories/#{{ cat }}" itemprop="item" title="{{ cat }}">
                <span itemprop="name">{{ cat }}</span>
            </a>        
            <meta itemprop="position" content="2">
        </li>
        {% endfor %}

        {% for category in categories %}
        {% assign route = route | append: '/' | append: category %}
        {% assign category_position=forloop.index | plus:'1' %}

        {% if forloop.last and category == "_posts" %}
        {% include breadcrumbs_li.html title=include.title position=category_position %}
        {% elsif forloop.last %}
        {% include breadcrumbs_li.html title=category position=category_position %}
        {% else %}
        {% include breadcrumbs_li.html url=route title=category position=category_position %}
        {% endif %}

        {% endfor %}
        <!-- {% endif %} -->
    </ol>
</div>
</nav>